<div class="no-questions">
  <img src="/images/Ilustração.svg" alt="Sem perguntas">
  <p>Nenhuma pergunta por aqui...</p>
  <p>Envie o código da sala para outras <Br> pessoas para que realizem perguntas!
  </p>
</div>